.topnav {
   background-color: #43424D;
   overflow: hidden;
}

.topnav a {
   float: left;
   color: #FFF1D0;
   text-align: center;
   text-decoration: none;
   font-size: 17px;
}

.topnav a:hover {
   background-color: #A2BCE0;
   color: #43424D;
}

.topnav a.active {
   background-color: #FFF1D0;
   color: #43424D;
}